<br>
<ol class="breadcrumb">
  <li><%= link_to t('navigation.links.home') , root_path %></li>
  <li><%= link_to t('titles.services'), services_path %></li>
  <li><%= link_to @service.title , service_path(@service) %></li>
</ol>
<h1>
  <%= @service.title %>
</h1>

<p>
  <%= @service.description.html_safe %>
</p>
<% if user_signed_in? %>
  <%= link_to t('btns.edit'), edit_service_path(@service), class: 'btn btn-default' %> |
<% end %>
  <%= link_to t('btns.back'), services_path, class: 'btn btn-default' %>
