<%= form_for(realty) do |f| %>
  <% if realty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realty.errors.count, "error") %> prohibited this realty from being saved:</h2>

      <ul>
      <% realty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="field form-group col-sm-12 col-md-6">
        <%= f.label :country, 'Выбрать страну' %>
        <%=  collection_select(:realty, :country_id, Country.all, :id, :country_name, {:include_blank => "Оставить пустым"}, { class: 'form-control'}) %>
      </div>
    </div>

  <div class="field form-group">
    <%= f.label :realty_img, 'Картинка для превью' %>
    <%= f.file_field :realty_img %>
  </div>

  <div class="field form-group">
    <%= f.label :title, 'Заголовок' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :description, 'Полное описание' %>
    <%= f.cktext_area :description %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
