<div class="media">
  <div class="media-left">
    <%= link_to realty do %>
      <%= image_tag realty.realty_img.url, class: 'media-object img-responsive img-thumbnail' if realty.realty_img? %>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to realty do %>
        <%= realty.title if realty.title %>
      <% end %>
    </h4>
    <%= realty.description.html_safe if realty.description %>
    <% if user_signed_in? %>
      <p>
        <%= link_to t('btns.show'), realty, class: 'btn btn-default btn-xs' %>
        <%= link_to t('btns.edit'), edit_realty_path(realty), class: 'btn btn-warning btn-xs' %>
        <%= link_to t('btns.destroy'), realty, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </div>
</div>