<div class="media">
  <div class="media-left">
    <%= link_to realty do %>
      <%= image_tag realty.realty_img.url, class: 'media-object img-responsive img-thumbnail' if realty.realty_img? %>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= realty.title %></h4>
    <%= realty.description.html_safe %>
    <p>
      <%= link_to 'Show', realty, class: 'btn btn-default btn-xs' %>
      <%= link_to 'Edit', edit_realty_path(realty), class: 'btn btn-default btn-xs' %>
      <%= link_to 'Destroy', realty, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
</div>