<ol class="breadcrumb">
  <li><%= link_to t('navigation.links.home') , root_path %></li>
  <li><%= link_to t('titles.countries'), countries_path %></li>
  <% if @country %>
    <li><%= link_to @country.country_name , country_realties_path(@country) %></li>
  <% end %>
</ol>
<% if user_signed_in? %>
  <%= link_to 'New Realty', new_realty_path, class: 'btn btn-primary' %>
<% end %>

<% @realties.each do |realty| %>
  <%= render partial: 'realties/realty', locals: { realty: realty } %>
<% end %>
<br>

