<h2><%= @realty.title %></h2>
<%= @realty.description.html_safe %>
<% if user_signed_in? %>
  <p>
    <%= link_to t('btns.show'), @realty, class: 'btn btn-default btn-xs' %>
    <%= link_to t('btns.edit'), edit_realty_path(@realty), class: 'btn btn-default btn-xs' %>
    <%= link_to t('btns.destroy'), @realty, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<div class="realty_images">
  <% if @realty.photo_album.present?  %>
      <h3><%= @realty.photo_album.title %></h3>
      <% @realty.photo_album.photos.each_slice(4) do |photos| %>
          <div>
            <% photos.each_with_index do |photo, index| %>
                <div class="pull-left">
                  <div>
                    <%= image_tag photo.thumb.url,
                                  class: 'img-responsive img-thumbnail',
                                  alt: 'Alt text',
                                  data: { toggle: 'lightbox',
                                          gallery: @realty.photo_album.id,
                                          type: 'image',
                                          remote: photo.url }%>
                  </div>
                  <% if user_signed_in? %>
                    <div>
                      <%= link_to "Delete", photo_album_photo_path(@realty.photo_album, index),
                                  method: :delete,
                                  class: 'btn btn-danger',
                                  data: { confirm: "Are you sure you want to delete this image?" } %>
                    </div>
                  <% end %>
                </div>
            <% end %>
          </div>
          <p class="clearfix"></p>
      <% end %>
  <% end %>
</div>
<% if user_signed_in? %>
  <%= link_to t('btns.edit'), edit_realty_path(@realty), class: 'btn btn-default' %> |
<% end %>
<%= link_to t('btns.back'), realties_path, class: 'btn btn-default' %>
