<br>
<ol class="breadcrumb">
  <li><%= link_to t('navigation.links.home') , root_path %></li>
  <li><%= link_to t('titles.countries'), countries_path %></li>

  <% if @country %>
      <li><%= link_to @country.country_name , country_realties_path(@country) %></li>
  <% end %>
  <li><%= link_to @realty.title , realty_path(@realty) %></li>
</ol>
<h2><%= @realty.title %></h2>
<%= @realty.description.html_safe if @realty.description %>
<% if user_signed_in? %>
  <p>
    <%= link_to t('btns.show'), @realty, class: 'btn btn-default btn-xs' %>
    <%= link_to t('btns.edit'), edit_realty_path(@realty), class: 'btn btn-default btn-xs' %>
    <%= link_to t('btns.destroy'), @realty, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<%= render partial: 'photo_albums/photo_album', locals: {photo_album: @realty.photo_album} %>

<br>
<br>


<% if user_signed_in? %>
  <%= link_to t('btns.edit'), edit_realty_path(@realty), class: 'btn btn-default' %> |
<% end %>
<% if @country %>
    <%= link_to t('btns.back'), country_realties_path(@country), class: 'btn btn-default' %>
<% else %>
  <%= link_to t('btns.back'), realties_path, class: 'btn btn-default' %>
<% end %>
