<br>
<ol class="breadcrumb">
  <li><%= link_to t('navigation.links.home') , root_path %></li>
  <li><%= link_to t('titles.realty_countries'), realty_countries_path %></li>
  <li><%= link_to @realty_country.country_name , realty_countries_path(@realty_country) %></li>
</ol>
<div class="row">
  <%= render partial: '/realty_countries/realty_country', locals: {country: @realty_country} %>
  <div class="clearfix"></div>
  <hr>
  <%= link_to 'Back', realty_countries_path, class: 'btn btn-default' %>
</div>