<nav>
  <ul class="nav nav-justified">
    <%= active_link_to t('navigation.links.home'), root_path, :active => :exclusive, :wrap_tag => :li %>
    <%= active_link_to t('navigation.links.services'), services_path, :active => :inclusive, :wrap_tag => :li %>
    <%= active_link_to t('navigation.links.projects'), projects_path, :active => :inclusive, :wrap_tag => :li %>
    <%= active_link_to t('navigation.links.realty'), countries_path, :active => :inclusive, :wrap_tag => :li %>
    <%= active_link_to t('navigation.links.contact') , contacts_path, :active => :inclusive, :wrap_tag => :li %>
  </ul>
</nav>