<%= form_for(photo_album) do |f| %>
  <% if photo_album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_album.errors.count, "error") %> prohibited this photo_album from being saved:</h2>

      <ul>
      <% photo_album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field form-group col-sm-12 col-md-6">
      <%= f.label :realty, 'Выбрать недвижимость' %>
      <%=  collection_select(:photo_album, :realty_id, Realty.all, :id, :title, {:include_blank => "Оставить пустым"}, { class: 'form-control'}) %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :title, 'Название для альбома' %>
    <%= f.text_field :title, class: 'form-control' %>
    <p class="help-block">Можно оставить пустым</p>
  </div>

  <div class="form-group">
    <%= f.label :photos %>
    <%= f.file_field :photos, multiple: true %>
    <p class="help-block">Выбрать несколько фотографий с расширениями jpg jpeg gif png</p>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
