<%= form_for(photo_album) do |f| %>
  <% if photo_album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_album.errors.count, "error") %> prohibited this photo_album from being saved:</h2>

      <ul>
      <% photo_album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :photos %>
    <%= f.file_field :photos, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
