<%= link_to 'Destroy', @photo_album, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_photo_album_path(@photo_album),  class: 'btn btn-warning' %>
<p>
  <strong>Title:</strong>
  <%= @photo_album.title %>
</p>

<%= form_for @photo_album, url: photo_album_photos_path(@photo_album), method: :post do |f| %>
    <div class="form-group">
      <%= f.label :photos %>
      <%= f.file_field :photos, multiple: true %>
    </div>
    <div class="actions">
      <%= f.submit 'Add more images', class: 'btn btn-primary' %>
    </div>
<% end %>

<%= render partial: 'photo_albums/photo_album', locals: {photo_album: @photo_album}%>

<%= link_to t('btns.edit'), edit_photo_album_path(@photo_album) %> |
<%= link_to t('btns.back'), photo_albums_path %>
