<%= form_for(project, html: { multipart: true }) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :project_img %>
    <%= f.file_field :project_img %>
  </div>

  <div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="field form-group col-sm-12 col-md-4">
      <%= f.label :start_date, 'Дата начала' %>
      <%= f.text_field :start_date, id: 'datetimepicker1', class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :preview %>
    <%= f.cktext_area :preview %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.cktext_area :description %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $(function () {
      $('#datetimepicker1').datetimepicker({
        format: "YYYY-MM-DD HH:mm"
      });
    });
  });
</script>
