<div class="media">
  <div class="media-left">
    <%= link_to project_path(project) do %>
        <%= image_tag project.project_img.url(:thumb), class: "media-object img-responsive img-thumbnail" if project.project_img.present?%>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to project_path(project) do %>
          <%= project.title if project.title%>
      <% end %>
    </h4>
    <p class="text-muted"><%= t('projects.start_date') %>: <%= I18n.l project.start_date, format: ("%b %d, %Y") if project.start_date %></p>

    <%= project.description.html_safe if project.description%>
    <% if user_signed_in? %>
      <p>
        <%= link_to t('btns.show'), project, class: 'btn btn-default' %>
        <%= link_to t('btns.edit'), edit_project_path(project), class: 'btn btn-default' %>
        <%= link_to t('btns.destroy'), project, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      </p>
    <%end %>
  </div>
</div>
<hr>