<div class="media">
  <div class="media-left">
    <%= link_to project_path(project) do %>
      <img alt="64x64" class="media-object img-responsive img-thumbnail" data-src="holder.js/64x64" src="<%= project.project_img.url(:thumb) if project.project_img.present? %>" data-holder-rendered="true">
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= project.title %></h4>
    <%= project.description.html_safe %>
    <p>
      <%= link_to t('btns.show'), project, class: 'btn btn-default' %>
      <%= link_to t('btns.edit'), edit_project_path(project), class: 'btn btn-default' %>
      <%= link_to t('btns.destroy'), project, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
</div>