<br>
<ol class="breadcrumb">
  <li><%= link_to t('navigation.links.home') , root_path %></li>
  <li><%= link_to t('titles.projects'), projects_path %></li>
  <li><%= link_to @project.title , project_path(@project) %></li>
</ol>
<h1>
  <%= @project.title %>
</h1>

<%= @project.description.html_safe %>
<% if user_signed_in? %>
  <%= link_to t('btns.edit'), edit_project_path(@project), class: 'btn btn-default' %> |
<% end %>

<%= link_to t('btns.back'), projects_path, class: 'btn btn-default' %>
