<%= form_for(jumbotron) do |f| %>
  <% if jumbotron.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jumbotron.errors.count, "error") %> prohibited this jumbotron from being saved:</h2>

      <ul>
      <% jumbotron.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :head_text %>
    <%= f.text_field :head_text, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :lead_text %>
    <%= f.text_field :lead_text, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :button_text %>
    <%= f.text_field :button_text, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :btn_color %>
    <%= f.text_field :btn_color, type: 'color', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
