<div class="jumbotron">
  <h1><%= jumbotron.head_text %></h1>
  <p class="lead">
    <%= jumbotron.lead_text %>
  </p>
  <p><a class="btn btn-lg btn-success" href="#" style="background-color: <%= jumbotron.btn_color %>;" role="button"> <%= jumbotron.button_text %></a></p>
</div>
<%= link_to 'Show', jumbotron, class: 'btn btn-xs btn-default' %>
<%= link_to 'Edit', edit_jumbotron_path(jumbotron), class: 'btn btn-xs btn-default' %>
<%= link_to 'Destroy', jumbotron, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } %>